body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  font-family: "Open Sans Condensed", cursive;
  font-weight: bold;
}

.card-img-overlay .card-title {
  font : 500 1.25rem "Open Sans Condensed", sans-serif;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-title {
  font: 500 1.25rem "Open Sans Condensed", sans-serif;
  font-weight: bold;
}